<div *ngIf="activeBox">
    <div class="card-header">
        <a class="card-footer-item"><h1 class="title is-3">{{ activeBox.name }}</h1></a>
    </div>
    <!-- <div class="osem-padding"> 
        <form id="follow-box-form">
            <div action="/action_page.php">
                <label><p>Sensor:</p><p>You can only sensors from boxes you already follow.</p></label>
            </div>
            <div class="control">
                <div class="select">
                  <select class="input is-small osem-border-radius" id="{{ 'sel-sensor'}}">
                    <option selected>Select rule to connect.</option>
                    <option disabled class="separator"></option>
                    <option *ngFor="let sensor of activeBox.sensors" [value]="sensor._id">{{ sensor.title }}</option>
                  </select>
                </div>
                <div class="select">
                    <select class="input is-small osem-border-radius" id="{{ 'sel-operator'}}">
                      <option selected>Select connection operator</option>
                      <option disabled class="separator"></option>
                      <option value=1>and</option>
                      <option value=2>or</option>
                      <option value=3>xor</option>
                    </select>
                  </div>
            </div> 
        </form>
        <div id="table is-narrow is-hoverable" class="table-edit">
            <div class="table-container">
                <div class="label">Select second Box
                  <span>
                    <input [(ngModel)]="searchText" 
                      placeholder="Filter.." 
                      class="input is-small osem-border-radius"
                      style="background-color:white; 
                      height: 30px; 
                      font-size:18px; 
                      vertical-align:9px;
                      color:#bbb"></span>
                    <select class="input is-small osem-border-radius" id="{{ 'sel-sensor'}}">
                      <option selected>Select box.</option>
                      <option disabled class="separator"></option>
                      <option *ngFor="let box of dataSource | filterByBoxName: {boxName: searchText} | orderBy: order | uniqueByBoxPipe; let i=index;">{{box.boxName}}</option>
                    </select>
                </div>
                <span class="osem-clickable-icon" 
              title="Save"
              (click)="createConnection(i, rule, rule.ruleA, rule.ruleB, rule.active) ">
              <i class="fa fa-save"></i>
            </span>
            <span class="osem-clickable-icon" 
            (click)="cancel(rule._id)"
            title="Cancel">
              <i class="fa fa-trash-alt"></i>
            </span>
            </div>
        </div>
    </div> -->
</div>